<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/12_1_Pandas_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%99%95%EC%9D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 데이터 확인
* pandas 에서도 데이터가 클때에는 명령어를 사용하여 일부만 확인 가능하다
* https://data.seoul.go.kr/dataList/10280/C/2/datasetView.do;jsessionid=F14193A6776D39EE6FAD5343D0DFFD74.new_portal-svr-21

* 위의 싸이트에스 txt 파일을 받으면 tab으로 데이터가 구분된 파일입니다. 
* 이경우에는 탭으로 데이터가 구분되어 있어 옵션에 sep = '\t'를 넣어주면 됩니다
* seperator가 탭이라는 뜻입니다

In [ ]:
from google.colab import drive
drive.mount('/g')

Mounted at /g

In [ ]:
import pandas as pd
data = pd.read_csv('/g/My Drive/Python_202002/report.txt', sep = '\t')

In [ ]:
data

      기간    대분류            분류  ...  운동을 싫어해서  운동을 할 충분한 비용이 없어서    기타
0   2019    서울시           서울시  ...      37.3                5.2   1.4
1   2019     성별            남자  ...      32.4                4.9   1.1
2   2019     성별            여자  ...      41.0                5.4   1.7
3   2019    연령별           10대  ...      32.6                3.5     -
4   2019    연령별           20대  ...      38.8                6.4   0.1
5   2019    연령별           30대  ...      27.3                4.5   0.2
6   2019    연령별           40대  ...      35.5                3.3   0.4
7   2019    연령별           50대  ...      36.8                5.6   0.8
8   2019    연령별        60대 이상  ...      48.7                6.6   5.6
9   2019    학력별         중졸 이하  ...      48.6                7.3   8.5
10  2019    학력별         고졸 이하  ...      38.6                5.5   0.7
11  2019    학력별         대졸 이하  ...      34.0                4.6   0.3
12  2019    학력별        대학원 이상  ...      29.0                0.9   0.3
13  2019    소득별      100만원 미만  ...      50.7                9.4  10.9
14  2019    소득별  100-200만원 미만  ...      49.1                7.4   2.3
15  2019    소득별  200-300만원 미만  ...      39.5                5.1   1.4
16  2019    소득별  300-400만원 미만  ...      35.5                4.8   0.7
17  2019    소득별  400-500만원 미만  ...      38.7                5.3   0.2
18  2019    소득별      500만원 이상  ...      33.4                4.5     1
19  2019  혼인상태별            기혼  ...      37.3                4.6   0.7
20  2019  혼인상태별            미혼  ...      35.1                5.6   0.2
21  2019  혼인상태별      이혼/사별/기타  ...      42.4                6.4   6.9
22  2019  지역대분류           도심권  ...      28.3                4.0   2.9
23  2019  지역대분류           동북권  ...      40.6                5.5   1.8
24  2019  지역대분류           서북권  ...      31.4                5.3   0.9
25  2019  지역대분류           서남권  ...      35.9                4.8   0.8
26  2019  지역대분류           동남권  ...      38.9                5.4   1.5
27  2019    종로구           종로구  ...      25.9                2.1     -
28  2019     중구            중구  ...      25.7                7.6   5.7
29  2019    용산구           용산구  ...      32.6                2.7   3.4
30  2019    성동구           성동구  ...      34.2                8.7   0.6
31  2019    광진구           광진구  ...      43.5                5.8     -
32  2019   동대문구          동대문구  ...      41.9                6.2   0.1
33  2019    중랑구           중랑구  ...      32.8               10.9   0.5
34  2019    성북구           성북구  ...      58.0                2.0   0.7
35  2019    강북구           강북구  ...      68.1                1.9     -
36  2019    도봉구           도봉구  ...      30.8                7.6   0.3
37  2019    노원구           노원구  ...      30.1                1.9   7.4
38  2019    은평구           은평구  ...      34.3                6.4   0.5
39  2019   서대문구          서대문구  ...      21.9                5.3     1
40  2019    마포구           마포구  ...      35.8                3.2   1.5
41  2019    양천구           양천구  ...      17.9                4.1   0.1
42  2019    강서구           강서구  ...      50.5                4.3     1
43  2019    구로구           구로구  ...      39.0                2.9   1.3
44  2019    금천구           금천구  ...      37.6                2.3   1.7
45  2019   영등포구          영등포구  ...      33.9                5.4     -
46  2019    동작구           동작구  ...      31.1                7.6     -
47  2019    관악구           관악구  ...      34.2                6.1     1
48  2019    서초구           서초구  ...      36.6                3.3   1.8
49  2019    강남구           강남구  ...      46.4                5.2   1.6
50  2019    송파구           송파구  ...      39.4                4.8     1
51  2019    강동구           강동구  ...      32.4                8.4   2.3

[52 rows x 9 columns]

* 데이터가 길 때에는 .head(), .tail()등을 사용해서 처음과 마지막 데이터를 확인할 수 있습니다

In [ ]:
data.head()

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,2017,서울시,서울시,49.7,8.1,5.8,34.7,1.7
1,2017,성별,남자,55.2,7.9,5.5,29.8,1.6
2,2017,성별,여자,45.0,8.3,6.0,38.8,1.8
3,2017,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,2017,연령별,20대,54.8,6.9,5.2,32.9,0.1

In [ ]:
data.head(10)

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
0,2017,서울시,서울시,49.7,8.1,5.8,34.7,1.7
1,2017,성별,남자,55.2,7.9,5.5,29.8,1.6
2,2017,성별,여자,45.0,8.3,6.0,38.8,1.8
3,2017,연령별,10대,55.7,6.1,5.6,32.2,0.3
4,2017,연령별,20대,54.8,6.9,5.2,32.9,0.1
5,2017,연령별,30대,58.1,5.5,4.6,31.6,0.2
6,2017,연령별,40대,57.7,6.8,5.2,29.4,1
7,2017,연령별,50대,50.1,9.2,7.2,32.2,1.4
8,2017,연령별,60대 이상,27.5,12.8,6.9,46.8,6
9,2017,학력별,중졸 이하,26.1,13.7,6.6,46.2,7.4

In [ ]:
data.tail()

,기간,대분류,분류,운동을 할 충분한 시간이 없어서,함께 운동을 할 사람이 없어서,운동을 할 만한 장소가 없어서,운동을 싫어해서,기타
48,2017,관악구,관악구,50.7,7.1,6.9,33.6,1.7
49,2017,서초구,서초구,59.8,3.4,3.2,32.0,1.5
50,2017,강남구,강남구,59.1,5.5,2.6,31.5,1.3
51,2017,송파구,송파구,42.6,7.2,5.8,44.3,0.1
52,2017,강동구,강동구,53.1,9.6,6.8,30.4,0.1

* 특정 위치를 보려면 df[start:end] end 미포함입니다

In [ ]:
data[3:10]

     기간  대분류      분류  ...  운동을 싫어해서  운동을 할 충분한 비용이 없어서   기타
3  2019  연령별     10대  ...      32.6                3.5    -
4  2019  연령별     20대  ...      38.8                6.4  0.1
5  2019  연령별     30대  ...      27.3                4.5  0.2
6  2019  연령별     40대  ...      35.5                3.3  0.4
7  2019  연령별     50대  ...      36.8                5.6  0.8
8  2019  연령별  60대 이상  ...      48.7                6.6  5.6
9  2019  학력별   중졸 이하  ...      48.6                7.3  8.5

[7 rows x 9 columns]

* 데이터 값들의 평균값 등 통계 치를 확인할때에는 .describe()을 사용합니다

In [ ]:
data.describe()

           기간  운동을 할 충분한 시간이 없어서  ...   운동을 싫어해서  운동을 할 충분한 비용이 없어서
count    52.0          52.000000  ...  52.000000          52.000000
mean   2019.0          46.267308  ...  37.153846           5.163462
std       0.0          10.723709  ...   8.666217           2.020001
min    2019.0          10.700000  ...  17.900000           0.900000
25%    2019.0          42.775000  ...  32.550000           4.075000
50%    2019.0          46.900000  ...  35.850000           5.250000
75%    2019.0          52.100000  ...  39.775000           6.250000
max    2019.0          69.800000  ...  68.100000          10.900000

[8 rows x 6 columns]

* numpy와 마찬가지로 mean(), max() 등의 통계함수를 사용할 수 있습니다
* 컬럼을 지정하려면 dict와 마찬가지로 df['컬럼명']을 사용하면 됩니다

In [ ]:
data.mean()

기간                   2019.000000
운동을 할 충분한 시간이 없어서      46.267308
함께 운동을 할 사람이 없어서        5.103846
운동을 할 만한 장소가 없어서        4.655769
운동을 싫어해서               37.153846
운동을 할 충분한 비용이 없어서       5.163462
dtype: float64

In [ ]:
data['기간'].max()

2019

In [ ]:
data['기간'].min()

2019

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
type(data['기간'])

pandas.core.series.Series

* pandas 에서 데이터를 읽어올때 데이터 타입을 자동으로 지정합니다. 
* 확인을 하기 위해서는 .dtypes를 사용합니다

In [ ]:
data.dtypes

기간                     int64
대분류                   object
분류                    object
운동을 할 충분한 시간이 없어서    float64
함께 운동을 할 사람이 없어서     float64
운동을 할 만한 장소가 없어서     float64
운동을 싫어해서             float64
운동을 할 충분한 비용이 없어서    float64
기타                    object
dtype: object

* 문자는 object라고 나오고 숫자는 int, float이 나오는데, 뒤에 숫자가 붙습니다
* 이것은 메모리 사이즈이며 숫자가 크면 더 많은 자리수를 저장할 수 있습니다
* 기본적으로는 64로 저장됩니다