<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/12_2_%EC%A1%B0%EA%B1%B4_%EA%B2%80%EC%83%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건 검색
* pandas에서는 특정 조건을 만족하는 행만 쉽게 추출할 수 있습니다
* 가상의 성적 데이터를 만들고 특정 조건만 가져와 봅시다

In [ ]:
import pandas as pd
import numpy as np

# numpy.random을 활용해서 가상의 성적을 만듭시다
n_student = 100

# random 라이브러리와 약간 다름
# 학생 아이디는 중복이 있으면 안됨, numpy는 choice를 사용해서 샘플링 가능, 
# 중복 없이 선택시는 replace=False 옵션 활용
student_id = np.random.choice(range(10000, 20000), n_student, replace = False) 
공창컴 = np.random.choice(range(70, 101), n_student)
화학 = np.random.choice(range(50, 101), n_student)
영어 = np.random.choice(range(40, 101), n_student)

In [ ]:
type(student_id)

numpy.ndarray

In [ ]:
# pandas dataframe으로 만들어봅시다
grade = pd.DataFrame({'id':student_id, '공창컴':공창컴, '화학':화학, '영어':영어})
print(grade.describe())

                 id         공창컴          화학          영어
count    100.000000  100.000000  100.000000  100.000000
mean   14470.760000   84.900000   76.100000   69.030000
std     2776.405223    8.520326   14.918973   18.073618
min    10056.000000   70.000000   50.000000   40.000000
25%    12131.500000   77.750000   63.000000   52.750000
50%    14264.000000   85.000000   75.000000   70.000000
75%    16726.500000   92.000000   87.500000   82.250000
max    19747.000000  100.000000  100.000000  100.000000

In [ ]:
grade

       id  공창컴  화학  영어
0   13019   73  61  47
1   10241   92  61  97
2   13119   93  89  95
3   15565   90  56  51
4   11138   80  93  70
..    ...  ...  ..  ..
95  13988   99  63  89
96  10880   72  67  70
97  17470   70  79  40
98  15573   92  50  97
99  18138   84  77  75

[100 rows x 4 columns]

* .query()를 사용해서 특정 조건만 추출할 수 있습니다

In [ ]:
공창컴A = grade.query('공창컴>=90')

In [ ]:
공창컴A

       id  공창컴   화학   영어
1   10241   92   61   97
2   13119   93   89   95
3   15565   90   56   51
5   11013   99   96   44
6   13387   91   64   89
12  14146   97   56   44
16  10481   96   73   43
17  13915   93   50   40
22  10927   90   85   94
24  10125   97   90   75
28  15111   93   75   56
30  10768   95   67   53
32  11628   98  100   66
40  19370   92   73   70
41  14318   90   57   96
46  13155   95   85   99
50  15112   99   64   50
51  12162  100   59   47
52  12077   94   96   47
53  11347   95   69   53
54  13630   91   84   51
68  10715   95   67  100
69  15120   97   59   90
70  16095   96   51   68
74  12793   92   85   93
75  16794   90  100   61
76  12132   91   71   82
77  15527   97   61   63
79  12709   92   56   95
83  11795   94   96   44
86  18461   96   83   88
89  19497   91   73   77
91  17371   97   72   52
92  18107   96   63   95
94  15907   90  100   99
95  13988   99   63   89
98  15573   92   50   97

In [ ]:
len(공창컴A)

37

In [ ]:
print('공창컴 A 학점 학생수: ',len(공창컴A), '명')

공창컴 A 학점 학생수:  37 명

* &, and 나 |, or를 사용해서 다양한 조건을 검색할 수 있습니다.

In [ ]:
# 3과목 모두 80점 이상인 학생 추출
all_A = grade.query('공창컴>=80 and 화학 >=80 and 영어 >=80')
all_A

       id  공창컴   화학  영어
2   13119   93   89  95
22  10927   90   85  94
27  17913   87   93  87
39  19747   85   87  88
44  15945   83   99  83
46  13155   95   85  99
74  12793   92   85  93
86  18461   96   83  88
94  15907   90  100  99

In [ ]:
# 1과목이라도 70점 이하가 있는 학생 추출

below70 = grade.query('공창컴<70 or 화학 <70 or 영어 <70')
below70

       id  공창컴  화학  영어
0   13019   73  61  47
1   10241   92  61  97
3   15565   90  56  51
5   11013   99  96  44
6   13387   91  64  89
..    ...  ...  ..  ..
93  18850   74  92  41
95  13988   99  63  89
96  10880   72  67  70
97  17470   70  79  40
98  15573   92  50  97

[66 rows x 4 columns]

In [ ]:
from google.colab import drive
drive.mount('/g')

Mounted at /g

In [ ]:
grade.to_csv('/g/My Drive/Python_202002/grade.csv', index = False, encoding='cp949')

In [ ]:
!ls '/g/My Drive/Python_202002'

'10-1. 날짜 다루기.ipynb'	        5-1.Function.ipynb
'10-2. 예외처리.ipynb'		       '5-2. 예제-자판기.ipynb'
'11-1. 퀴즈 리뷰.ipynb'		       '5-3. 예제_자판기2.ipynb'
'11-2. Pandas intro.ipynb'	       '6-1. 최대최소값 구하기.ipynb'
'11-3. 데이터 읽기 쓰기(Colab).ipynb'  '6-2. 예제 곰과나무꾼.ipynb'
'12-1. Pandas 데이터 확인.ipynb'       '6-3. 예제 메모장.ipynb'
'12-2. 조건 검색.ipynb'		       '7-1. Set.ipynb'
'12-3. 연산하기.ipynb'		       '7-2. 예제 - 로또 정답확인.ipynb'
'2-1. Variables.ipynb'		       '7-3. 예제 로또번호 분석기.ipynb'
'2-2. Input.ipynb'		       '8-1. 그래프.ipynb'
'2-3. If.ipynb'			       '8-2. 수학 그래프.ipynb'
'3-1. while.ipynb'		       '8-3 그래프 활용.ipynb'
'3-2. for.ipynb'		       '9-1. Numpy 기초.ipynb'
 3-3.random.ipynb		       '9-2. Numpy 기초 2.ipynb'
 4-1.List.ipynb			       '9-3 Numpy 활용.ipynb'
 4-2.Dictionary.ipynb		        grade.csv
'4-3. 연습.ipynb'		        report.txt

In [ ]:
grade

       id  공창컴   화학  영어
0   16808   74  100  96
1   11246   93   52  51
2   14482   76   50  40
3   19881   96   95  56
4   13831   71   79  91
..    ...  ...  ...  ..
95  15374   94   84  61
96  14818   86   62  49
97  19564   84   84  76
98  18058   83   94  67
99  18539   89   77  57

[100 rows x 4 columns]

In [ ]:
grade.to_csv('/g/My Drive/Python_202002/grade2.csv', index = False)