<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/2_1_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 출력문
* print() 함수를 사용하여 출력한다. 
* 문자를 출력할 때는 " 또는 '를 사용한다. 파이썬에서는 두가지 기호가 동일하게 사용된다.

In [ ]:
print(3)

3

In [ ]:
print(1+5)
print(1+10)

6
11

In [ ]:
print('안녕하세요. 즐거운 파이썬')

안녕하세요. 즐거운 파이썬

* 여러가지를 한번에 출력할 때는 ,를 사용한다. 
* 숫자와 문자를 한번에 사용할 수 있으며, 빈칸이 추가되어 출력된다.

In [ ]:
print('2 * 9 =', 2*9,'입니다')

2 * 9 = 18 입니다

# 변수 (Variables)
* = 기호를 사용하여 자신이 정한 명칭에 값을 저장한다. 
* = 기호는 저장한다는 뜻이며, 같다는 뜻이 아니다.

In [ ]:
pi = 3.14
print(pi)

3.14

* 값을 저장하고 있는 변수에 다른 값을 넣으면 그 값으로 변경된다.

In [ ]:
pi = 3.141592
pi

3.141592

* 변수를 적절히 사용하면 가독성이 좋아진다. 
* 영어뿐 아니라 한글로도 변수명을 만들수 있다.
* 대소문자를 다르게 인식한다. A와 a는 다른 것임
* 띄어쓰기를 포함하지 못하고, 숫자로 시작할 수 없다.

In [ ]:
반지름 = 10
원의넓이 = pi*반지름**2
print(원의넓이)

314.1592

In [ ]:
이름 = '홍길동'
print('당신의 이름은', 이름, '입니다')

당신의 이름은 홍길동 입니다

# 활용

In [ ]:
가로 = 3
세로 = 10
넓이 = 가로 * 세로
print('직사각형의 넓이는', 넓이, '입니다.')

직사각형의 넓이는 30 입니다.

* 여러개의 변수를 출력문에 사용하고 싶을때는 format을 이용하면 쉽게 사용할 수 있다. 
* 출력문 안에 {} 기호에 변수값이 순서대로 들어가게 된다.

In [ ]:
print('가로 {}cm, 세로{}cm 인 직사각형의 넓이는 {} 입니다. '.format(가로, 세로, 넓이))

가로 3cm, 세로10cm 인 직사각형의 넓이는 30 입니다.

* 여러줄을 출력할 때는 """ 또는 '''을 사용한다

In [ ]:
print('''
   오늘의 메뉴
    떡갈비
    보쌈
    순대    
''')

   오늘의 메뉴
    떡갈비
    보쌈
    순대

* 큰수를 코딩할 때는 과학적 표기법을 활용하면 오류를 줄일 수 있다. 
* e뒤에 0의 개수를 적어주면 되고, -를 붙이면 소수점 자리수가 된다

In [ ]:
sales = 100000000
sales

100000000

In [ ]:
sales2 = 1.23e8
sales2

123000000.0

In [ ]:
소수점 = 1.23e-3
print(소수점)

0.00123

In [ ]:
print('당신의 자산은 {}원 입니다'.format(1.23e10))

당신의 자산은 12300000000.0원 입니다