<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/3_2_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문
* for .. in 을 이용해서 반복을 할 수 있다.
* range()를 통해서 필요한 범위를 쉽게 지정할 수 있다.

In [ ]:
for i in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

* range(start, end, step)으로 구성되어 있으며 한개만 입력시에는 end값으로 인식
* start는 0이 기본값이며, end는 입력 숫자보다 작은값까지
* step은 증가폭을 입력하는 것임

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

* 증가가 아닌 감소도 가능하다

In [ ]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

In [ ]:
# 구구단 2단을 출력해보자
number1 = 2
print(number1, '단')

for number2 in range(2,10): #end 값은 포함되지 않으므로 1을 크게 입력함
    print('{} * {} = '.format(number1, number2), number1*number2)

2 단
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18

# 활용
* 반복문 안에 반복문을 사용하면 구구단 전체를 출력할 수 있다.

In [ ]:
for num1 in range(2,10):
    print()
    print(num1, '단')
    for num2 in range(2,10):
        print('{} * {} = '.format(num1, num2), num1*num2)

2 단
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18

3 단
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27

4 단
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36

5 단
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45

6 단
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54

7 단
7 * 2 =  14
7 * 3 =  21
7 * 4 =  28
7 * 5 =  35
7 * 6 =  42
7 * 7 =  49
7 * 8 =  56
7 * 9 =  63

8 단
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72

9 단
9 * 2 =  18
9 * 3 =  27
9 * 4 =  36
9 * 5 =  45
9 * 6 =  54
9 * 7 =  63
9 * 8 =  72
9 * 9 =  81