<a href="https://colab.research.google.com/github/joohoshin/Python_Basic/blob/master/4_3_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 문자 연산


*   문자끼리 + 를 하면 문자가 합쳐진다
*   문자에 * 숫자를 하면 반복된다

In [ ]:
a= 'Hello'
b= 'Kim'
c= a+b
d = 10

In [ ]:
print(c)

HelloKim

In [ ]:
print(a+', '+b)

Hello, Kim

In [ ]:
print(a,b) #,가 있는 부분은 한칸 공백이 띄어진다

Hello Kim

In [ ]:
print(a,b,d) # print 명령에서 ,를 사용할 때는 숫자도 함께 출력이 가능하다

Hello Kim 10

In [ ]:
print(a+b+str(d)) # 모두 붙여서 출력이 필요할 때는 숫자를 문자로 바꾸어서 합치면 된다.

HelloKim10

In [ ]:
rep = 'a'*10

In [ ]:
rep

'aaaaaaaaaa'

In [ ]:
for i in range(10):
  print('a'*i)

a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa

In [ ]:
for i in range(1,30,3):
  print('a'*i)

a
aaaa
aaaaaaa
aaaaaaaaaa
aaaaaaaaaaaaa
aaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaa

In [ ]:
start = 0
step = 2
for i in range(1,30, step):
  start += 1
  print(' '*start + 'a'*i)

 a
  aaa
   aaaaa
    aaaaaaa
     aaaaaaaaa
      aaaaaaaaaaa
       aaaaaaaaaaaaa
        aaaaaaaaaaaaaaa
         aaaaaaaaaaaaaaaaa
          aaaaaaaaaaaaaaaaaaa
           aaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaa
             aaaaaaaaaaaaaaaaaaaaaaaaa
              aaaaaaaaaaaaaaaaaaaaaaaaaaa
               aaaaaaaaaaaaaaaaaaaaaaaaaaaaa

## 숫자 합계 구하기

In [ ]:
# 1에서 100까지 합 구하기
sum_ = 0

for i in range(1,101):
  sum_ += i  # sum_=sum_+i와 같다
print(sum_)

5050

In [ ]:
# sum()를 사용해서 할 수도 있다
sum(range(1,101))

5050



*   % 연산은 정수 나누기의 나머지를 구한다. 
*   // 정수 나누기의 몫을 구한다.

In [ ]:
# 짝수 배수만 출력하기

num = [2,4,3,7, 10, 100,99]

for i in num:
  if i % 2 == 0:
    print(i)

2
4
10
100

In [ ]:
10//3

3

In [ ]:
10%3

1